#SettingsButton{
    position: fixed;
    bottom: 35px;
    left: 5px;
    transition: all 0.5s ease;
}
#SettingsButton:hover{
    left: 20px;
}
#Settings{
    position: absolute;
    top: 12%;
    left: 23%;
    background-image: linear-gradient(to bottom, rgb(35, 35, 35), rgb(14, 14, 14));
    width: 50%;
    height: 75%;
    border-radius: 20px;
    padding: 2%;
    text-align: center;
    box-shadow: 0px 1px 5px #AAAA;
    z-index: 999999999999999999999999999;
    border: solid 3px rgb(14, 14, 14);
    overflow: auto;
    scrollbar-color: rgb(25, 25, 25) rgb(76, 76, 76);
}
.SHR{
    background-color: rgb(65, 65, 65);
    border: solid 1px rgb(65, 65, 65);
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(65, 65, 65);
}
#FloatR{
    float: right;
    width: 33.33333333333333%;
    text-align: right;
}
#FloatR button{
    margin-right: 25%;
    border: solid 1px rgb(65, 65, 65);
}
#FloatL{
    float: left;
    width: 33.33333333333%;
    text-align: left;
}
#FloatL button{
    margin-left: 25%;
    border: solid 1px rgb(65, 65, 65);
}
#FloatM{
    width: 33.333333333333333%;
    float: left;
}
#FloatM button{
    border: solid 1px rgb(65, 65, 65);
}
#Float2L{
    width: 33.33333333333333%;
    float: left;
}
#Float2M{
    width: 33.33333333333333%;
    float: left;
}
#Float2R{
    width: 33.33333333333333%;
    float: right;
}
#ShortcutBox{
    width: 50%;
    line-height: 2;
    text-align: center;
    margin: auto;
}
#Float3L{
    width: 50%;
    float: left;
}

#Float3R{
    width: 50%;
    float: right;
}
.colorSettings{
    height: 100px;
    width:  100px;
    border-radius: 10px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
}
#colorPicker1:hover{
    background-color: black;
}