body{
    margin: 0;
    background-color: black;
    color: red;
    text-align: center;
}

#Title{
    text-shadow: 0px 0px 10px red;
    font-size: 100px;
}

.canvasWrapper{
    background-color: rgb(36, 36, 36);
    width: 1200px;
    border-radius: 20px;
    height: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#GameCanvas{
    background-color: rgb(36, 36, 36);
    width: 1000px;
    height: 450px;
}

#Back {
    position: fixed;
    bottom: 8px;
    left: 8px;
}

#Back button {
    width: 100px;
    height: 28px;
    padding: 0;
    font-size: 15px;
    color: lightblue;
    background: #3a3a3a;
    border-radius: 6px;
    text-shadow: 0 0 5px lightblue;
}

#Back button:hover {
    background: lightblue;
    color: black;
}